.wrapper {
    display: flex;
    padding: 5px;
    box-sizing: border-box;

    border: 1px solid #44515b;
    border-radius: 12px;
    background-color: #2d3640;
}

.button {
    margin-bottom: 3px;
    width: 50%;

    color: #b8c4cf;
    box-shadow: 0 3px 0 #1f252d;

    transform: translateY(0px);
    overflow-wrap: anywhere;

    transition: all 0.3s ease;
}

.button:hover {
    color: white;

    filter: brightness(1) !important;
}

.button:active {
    box-shadow: 0 0 0 #24262b;
    transform: translateY(3px);
}

.selectedButton {
    background-color: #536273;

    color: white;
}

.reportButton {
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #42505b;
}

.analysisButton {
    border-radius: 0 10px 10px 0;
    border-left: 1px solid #42505b;
}
